@{ViewBag.Title = "Index";}
<div class="container">
    <form class="form-sign" method="post" data-ajax="true" data-ajax-url="/POST/Login" data-ajax-begin="Form_Begin" data-ajax-success="Form_Success">
        <h4 class="text-center strong"><b>彩中了网站后台的呢管理</b></h4>
        <input type="email" name="userInfo.Email" class="form-control" placeholder="请输入邮箱" value="maliangnet@126.com" required autofocus>
        <input type="password" name="userInfo.Password" class="form-control" placeholder="请输入密码" value="111111" required>
        <input type="submit" class="btn btn-primary btn-block" data-loading-text="加载中..." value="登录" />
    </form>
</div>
<script type="text/javascript">
    function Form_Begin(){$("input[type=submit]").button("loading");}
    function Form_Success(json)
    {
        if(!json.Success)
            $("input[type=submit]").button("reset");
        console.log(json);
    }
</script>