<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-pills" style="margin-top:5px;background-color:#ffffff;"><li class="active"><a href="#">最新开奖视频</a></li></ul>
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="~/Themes/Images/1.gif" alt="" class="img-responsive img-thumbnail" /></a>
                <h4 class="small"><a href="#">软妹改编摇滚1秒就变小清新</a></h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="nav nav-pills" style="margin-top:5px;background-color:#ffffff;"><li class="active"><a href="#">独家视频</a></li></ul>                
    </div>
</div>  