<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Themes/CSS/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Themes/CSS/admin.css" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
          <div class="container">
          <div class="navbar-header">
            <a href="/Admin/Home"><img src="#" alt="Logo" /></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/Admin/UserList">用户管理</a></li>
              <li class="dropdown">
                  <a href="/Admin/VideoList" class="dropdown-toggle" data-toggle="dropdown">视频管理<b class="caret"></b></a>
                   <ul class="dropdown-menu">
                      <li><a href="/Admin/VideoList">视频管理</a></li>
                      <li><a href="/Admin/VideoCategoryList">视频分类管理</a></li>
                    </ul>                  
              </li>
            </ul>  
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">帮助</a></li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>    
    <script type="text/javascript" src="~/Themes/JS/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Themes/JS/bootstrap.js"></script>
    <script type="text/javascript" src="~/Themes/JS/MvcPager.js"></script>
    <script type="text/javascript" src="~/Themes/JS/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Themes/JS/Common.js"></script>
    @RenderSection("ScriptSection", false);
</body>    
</html>
