<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Themes/CSS/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Themes/CSS/admin.css" />
</head>
<body>
    @RenderBody()
</body>    
<script type="text/javascript" src="~/Themes/JS/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Themes/JS/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Themes/JS/jquery.unobtrusive-ajax.min.js"></script>
</html>
