/*通用*/
.mt { margin-top:5px;}
div#pager {padding-right: 0px; padding-left: 0px; font-size: 13px;color: #48b9ef;background-color: #fff; text-align: center}
div#pager a {border-right: #f0f0f0 2px solid; padding-right: 5px; border-top: #f0f0f0 2px solid; padding-left: 5px; padding-bottom: 2px; margin: 0px 2px; border-left: #f0f0f0 2px solid; color: #48b9ef; padding-top: 2px; border-bottom: #f0f0f0 2px solid; text-decoration: none}
div#pager a:hover {border-right: #ff5a00 2px solid; border-top: #ff5a00 2px solid; border-left: #ff5a00 2px solid; color: #ff5a00; border-bottom: #ff5a00 2px solid}
div#pager a:active {border-right: #ff5a00 2px solid; border-top: #ff5a00 2px solid; border-left: #ff5a00 2px solid; color: #ff5a00; border-bottom: #ff5a00 2px solid}
div#pager span.current {border-right: #ff5a00 2px solid; padding-right: 5px; border-top: #ff5a00 2px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #ff5a00 2px solid; color: #fff; padding-top: 2px; border-bottom: #ff5a00 2px solid; background-color: #ff6c16}
div#pager a.disabled {display: none}
div#pager input[type=text]{width:30px}
form#formSearch {min-height: 20px;padding: 10px;margin-bottom: 20px;border: 1px solid #E7E7E7;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.hide1{display:none;}
a.uploadFiles {width:90px;height:30px;overflow:hidden;display:block;border:1px solid #BEBEBE;background:url(../Images/uploadFileBG.gif) left top no-repeat;text-decoration:none;}
a.uploadFiles:hover {background-color:#FFFFEE;background-position:0 -30px;}
a.uploadFiles input {margin-left:-350px;font-size:30px;cursor:pointer;filter:alpha(opacity=0);opacity:0;}
/*Views/Shared/_AdminLayout.cshtml*/
.divAL1 {background-color:#EFEFEF;border:solid 1px #EFEFEF;padding:5px;}
/*Views/Admin/Index.cshtml*/
.form-sign {max-width:330px;margin:auto;padding:15px;}
.form-sign input {margin-bottom:15px;}
/*Views/Shared/VideoList.cshtml*/
.pVideoListImage img{margin-left:5px;}